<section class="row">
  <div class="column">
    <div id="left-button" class="phx-hero">
      <span class="demo">左</span>
    </div>
  </div>
  <div class="column">
    <div id="right-button" class="phx-hero">
      <span class="demo">右</span>
    </div>
  </div>
</section>
